/** SECCION FOOTER **/

footer {
    font-family: "Itim", sans-serif;
    font-size: 10px;
    font-style: italic;
    color: $color-font-h2;
    text-align: center;
    background-color: $color-1-group-1;
    padding: 7px;
    letter-spacing: 3px;
}