/** SECCION HEADER **/

.barra_busqueda {
    max-width: 100%;
    padding-right: 15px;
    background-color: $color-1-group-1;
    text-align: right;
    @include display-flex(flex, row, end, 0, 0, center);


    input {
        width: 25%;
        margin: 7px 5px 7px;
        padding: 5px;
        border: 2px;
        border-radius: 8px;
        border-style: solid;
        border-color: black;

        &:focus {
            outline: none;
        }
    }
}