/** SECCION BARRA DE NAVEGACION **/

.SC_logo {
    width: 100px;
    border-radius: 40px;

    &:hover {
        animation: rebotar .4s infinite;
    }
}

@keyframes rebotar {
    0% {
        transform: translate(0px, 1px);
    }

    10% {
        transform: translate(0px, -3px);
    }

    20% {
        transform: translate(0px, -6px);
    }

    30% {
        transform: translate(0px, -9px);
    }

    40% {
        transform: translate(0px, -12px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    60% {
        transform: translate(0px, 1px);
    }

    70% {
        transform: translate(0px, 3px);
    }

    80% {
        transform: translate(0px, 6px);
    }

    90% {
        transform: translate(0px, 9px);
    }

    100% {
        transform: translate(0px, 12px);
    }
}

ul {
    font-family: "Acme", sans-serif;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
}

#navbarNav {
    justify-content: space-evenly;

    .nav_icons {
        margin: 10px;
    }

    .nav__logo {
        width: 50px;
    }
}