@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Outfit:wght@200;400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Outfit:wght@200;400;500;800&display=swap");
/** SECCION HEADER **/
.barra_busqueda {
  max-width: 100%;
  padding-right: 15px;
  background-color: #38bc46;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-content: 0;
  justify-items: 0;
  align-items: center;
}
.barra_busqueda input {
  width: 25%;
  margin: 7px 5px 7px;
  padding: 5px;
  border: 2px;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
}
.barra_busqueda input:focus {
  outline: none;
}

/** SECCION BARRA DE NAVEGACION **/
.SC_logo {
  width: 100px;
  border-radius: 40px;
}
.SC_logo:hover {
  animation: rebotar 0.4s infinite;
}

@keyframes rebotar {
  0% {
    transform: translate(0px, 1px);
  }
  10% {
    transform: translate(0px, -3px);
  }
  20% {
    transform: translate(0px, -6px);
  }
  30% {
    transform: translate(0px, -9px);
  }
  40% {
    transform: translate(0px, -12px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(0px, 1px);
  }
  70% {
    transform: translate(0px, 3px);
  }
  80% {
    transform: translate(0px, 6px);
  }
  90% {
    transform: translate(0px, 9px);
  }
  100% {
    transform: translate(0px, 12px);
  }
}
ul {
  font-family: "Acme", sans-serif;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0px;
}

#navbarNav {
  justify-content: space-evenly;
}
#navbarNav .nav_icons {
  margin: 10px;
}
#navbarNav .nav__logo {
  width: 50px;
}

/** SECCION FOOTER **/
footer {
  font-family: "Itim", sans-serif;
  font-size: 10px;
  font-style: italic;
  color: whitesmoke;
  text-align: center;
  background-color: #38bc46;
  padding: 7px;
  letter-spacing: 3px;
}

h1, .grid__main .home__title .title__silvi {
  font-family: "Acme", sans-serif;
  color: rgb(25, 25, 25);
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 20px;
  height: auto;
}

h2 {
  background-color: #9b5377;
  color: whitesmoke;
  font-family: "Lobster", sans-serif;
  border-radius: 3px;
  padding: 5px;
  font-style: italic;
  box-sizing: content-box;
  letter-spacing: 7px;
}

h3 {
  color: rgb(25, 25, 25);
  font-family: "Acme", sans-serif;
  font-size: 150%;
  margin-top: 0.5rem;
  justify-items: center;
}

h5 {
  font-family: "Itim", sans-serif;
  color: rgb(25, 25, 25);
}

p, .historia .historia__parrafo, .desc__prod {
  font-family: "Itim", sans-serif;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

/** SECCION HOME-INDEX **/
#img__background {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(https://images.unsplash.com/photo-1551404973-7dec6ee9bba7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
}

.grid__main {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "banner banner banner" "productos productos productos" "cake cupcake cookies" "localizacion localizacion localizacion";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 400px 100px 300px 600px;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.grid__main .home__title {
  font-family: "Itim", sans-serif;
  color: rgb(25, 25, 25);
  text-align: center;
  grid-area: titulo;
  width: 100%;
}
.grid__main .home__title .title__silvi {
  font-family: "Lobster", sans-serif;
  color: rgb(25, 25, 25);
  font-size: 450%;
  font-weight: 1000;
}
.grid__main .carrusel {
  grid-area: banner;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  width: 50%;
}
.grid__main .carrusel .carrusel__img {
  height: auto;
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
}
.grid__main .carrusel .carrusel__img:hover {
  filter: sepia(80%);
  transition: all 0.7s ease-in-out;
}
.grid__main .nuestrosProductos {
  grid-area: productos;
}
.grid__main .left {
  grid-area: cake;
  padding: 10px;
}
.grid__main .middle {
  grid-area: cupcake;
  padding: 10px;
}
.grid__main .right {
  grid-area: cookies;
  padding: 10px;
}
.grid__main .gps {
  grid-area: localizacion;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: 0;
  justify-items: 0;
  align-items: center;
  flex-wrap: wrap;
}
.grid__main .gps .centrar {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-content: 0;
  justify-items: 0;
  align-items: 0;
  margin-right: 1rem;
}
.grid__main .gps iframe {
  width: 400px;
  height: 300px;
}

/** Estilos de la seccion Nuestros productos - Index para los 3 tipos de produtos detalladas  **/
.desc__prod {
  font-size: 15px;
}

.main__icons {
  width: 50px;
  transform: rotate(-15deg);
}

.btn-style {
  background-color: #9b5377;
  border-color: #9b5377;
}
.btn-style:hover {
  background-color: #af6489;
  border-color: #af6489;
}

/*** SECCIONES ***/
.intro_sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

/** SECCION HISTORIA **/
.historia {
  padding-left: 30px;
  padding-right: 30px;
}
/** SECCION PRODUCTOS **/
.parrafo__productos {
  font-size: 20px;
  letter-spacing: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: 0;
  justify-items: 0;
  align-items: 0;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 30px;
}
.productos .productos__image {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  border-style: outset;
  margin: 20px;
}

.sabores {
  font-family: "Itim", sans-serif;
  text-align: center;
  margin-top: 50px;
}
.sabores .sabores--titulo {
  background-color: #9b5377;
  color: whitesmoke;
  font-family: "Lobster", sans-serif;
  border-radius: 3px;
  padding: 5px;
  font-style: italic;
  box-sizing: content-box;
  letter-spacing: 7px;
}
.sabores .tabla__sabores {
  font-size: 100%;
  margin: auto;
  border-style: solid;
  border-color: rgb(25, 25, 25);
  border-collapse: separate;
  border-spacing: 30px 20px;
  font-style: italic;
  background-color: #dab6c8;
  box-sizing: content-box;
}

/** SECCION CLIENTES **/
.grid_clientes {
  display: grid;
  grid-template-areas: " cl1 cl2 " " cl3 cl4 ";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px 300px;
  grid-column-gap: 7%;
  text-align: center;
  margin-top: 40px;
}
.grid_clientes .cliente1 {
  grid-area: cl1;
}
.grid_clientes .cliente2 {
  grid-area: cl2;
}
.grid_clientes .cliente3 {
  grid-area: cl3;
}
.grid_clientes .cliente4 {
  grid-area: cl4;
}

/** SECCION GALERIA **/
.galeria {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: 0;
  justify-content: space-evenly;
  align-content: 0;
  justify-items: 0;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.galeria .galeria__img {
  width: 50%;
  height: 45%;
  max-width: 400px;
  opacity: 85%;
  border-radius: 15px;
  margin: 5px;
}
.galeria .galeria__img:hover {
  opacity: 100%;
}

/** SECCION FORMULARIO PARA COTIZACION **/
.formulario {
  font-family: "Itim", sans-serif;
  width: 100%;
  max-width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  box-shadow: 5px 15px 50px #000;
}
.formulario .form {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-content: 0;
  justify-items: 0;
  align-items: 0;
  width: 100%;
  padding: 5px;
}
.formulario .form .form_area {
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}
.formulario .form .button {
  font-family: "Acme", sans-serif;
  letter-spacing: 3px;
  background-color: #9b5377;
  color: whitesmoke;
  width: 100%;
  border-width: 1px;
  border-radius: 5px;
}

/** SECCION REDES SOCIALES **/
.redes__main {
  display: grid;
  grid-template-areas: " follow fb ig " " follow yt tt ";
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 15px;
  margin-top: 50px;
  padding: 20px;
  align-items: center;
  justify-items: center;
}
.redes__main .seguinos {
  grid-area: follow;
}
.redes__main .facebook {
  grid-area: fb;
}
.redes__main .instagram {
  grid-area: ig;
}
.redes__main .youtube {
  grid-area: yt;
}
.redes__main .tiktok {
  grid-area: tt;
}
.redes__main .icons {
  width: 20%;
}

/** SECCION RESPONSIVA **/
@media screen and (max-width: 480px) {
  h1, .grid__main .home__title .title__silvi {
    font-family: "Acme", sans-serif;
    color: rgb(25, 25, 25);
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0;
    height: auto;
  }
  h5 {
    font-size: 1rem;
  }
  p, .desc__prod, .historia .historia__parrafo {
    width: 100%;
    font-size: 1rem;
    letter-spacing: 0px;
    margin: auto;
  }
  /** Barra Busqueda **/
  .barra_busqueda {
    display: none;
  }
  input {
    width: 60%;
  }
  /** Home-Index **/
  .grid__main {
    display: grid;
    grid-template-areas: "titulo" "productos" "cake" "cupcake" "cookies" "localizacion";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 100px 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  .grid__main .home__title {
    font-family: "Itim", sans-serif;
    color: rgb(25, 25, 25);
    text-align: center;
    grid-area: titulo;
    width: 100%;
  }
  .grid__main .home__title .title__silvi {
    font-family: "Lobster", sans-serif;
    color: rgb(25, 25, 25);
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 7px;
  }
  .carrusel {
    display: none;
  }
  /** Mapa **/
  iframe {
    display: none;
  }
  /** Redes Sociales **/
  .redes__main {
    display: grid;
    grid-template-areas: " follow follow follow follow " " fb ig yt tt ";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 15px;
    margin-top: 40px;
    justify-self: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    letter-spacing: 0;
  }
  .redes__main .seguinos {
    letter-spacing: 0;
  }
  /** Hstoria **/
  .historia .historia__parrafo {
    font-size: 80%;
  }
  /** Productos **/
  .sabores {
    font-family: "Itim", sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  .sabores .sabores--titulo {
    background-color: #9b5377;
    color: whitesmoke;
    font-family: "Lobster", sans-serif;
    border-radius: 3px;
    padding: 5px;
    font-style: italic;
    box-sizing: content-box;
    letter-spacing: 7px;
  }
  .sabores .tabla__sabores {
    font-size: 65%;
    border-spacing: 15px 5px;
  }
  /** Formulario **/
  .formulario {
    font-family: "Itim", sans-serif;
    width: 100%;
    max-width: 100%;
    box-shadow: 5px 15px 50px #000;
  }
  .formulario .form {
    display: flex;
    flex-direction: column;
    justify-content: 0;
    align-content: 0;
    justify-items: 0;
    align-items: 0;
    width: 100%;
    padding: 5px;
  }
  .formulario .form .form_area {
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
  }
  .formulario .form .button {
    font-family: "Acme", sans-serif;
    letter-spacing: 3px;
    background-color: #9b5377;
    color: whitesmoke;
    width: 100%;
    border-width: 1px;
    border-radius: 5px;
  }
  /** Footer **/
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: 0;
    justify-items: 0;
    align-items: 0;
    font-size: 9px;
    letter-spacing: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
