@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Outfit:wght@200;400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Outfit:wght@200;400;500;800&display=swap');

*{
    box-sizing: border-box;
}

.barra_busqueda {
    max-width: 100%;
    padding-right: 15px;
    background-color: #38bc46;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

input {
    width: 25%;
    margin: 7px 5px 7px;
    padding: 5px;
    border: 2px;
    border-radius: 8px;
    border-style: solid;
    border-color: black
}

input:focus {
    outline: none;
}

.logo {
    width: 100px;
    border-radius: 40px;
}
.logo:hover {
    animation: rebotar .4s infinite;
}
@keyframes rebotar {
    0% { transform: translate(0px, 1px);}
    10% { transform: translate(0px, -3px);}
    20% { transform: translate(0px, -6px);}
    30% { transform: translate(0px, -9px);}
    40% { transform: translate(0px, -12px);}
    50% { transform: translate(0px, 0px);}
    60% { transform: translate(0px, 1px);}
    70% { transform: translate(0px, 3px);}
    80% { transform: translate(0px, 6px);}
    90% { transform: translate(0px, 9px);}
    100% { transform: translate(0px, 12px);}
}

.nav__logo{
    width: 50px;
}

#menu ul {
    font-family: "Acme", sans-serif;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
}

#menu li {
    text-align: center;
    display: inline;
    display: flex;
}

/* .barra__nav{
    margin-top: 50px;
    margin-bottom: 50;
} */

/* #nav__bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

} */

#navbarNav{
    justify-content: space-evenly;
}

.nav_icons{
    margin: 10px;
}


#main-body {
    background-image: linear-gradient(
        0deg,
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)
    )
    ,url(https://images.unsplash.com/photo-1551404973-7dec6ee9bba7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
}

.main__silvi {
    font-family: "Itim", sans-serif;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.title__silvi{
    font-family: "Lobster", sans-serif;
    /* font-size: 85px; */
    font-size: 350%;
    font-weight: 1000;
    margin-top: 0px;
    margin-bottom: 5px;
    letter-spacing: 20px;
    height: auto;
    
}

.grid__main{
    display: grid;
    grid-template-areas: 
        "banner banner banner"
        "productos productos productos"
        "cake cupcake cookies"
        "localizacion localizacion localizacion";
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 400px 100px 300px 600px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.carrusel{
    grid-area: banner;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.carrusel__img{
    height: auto;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
}
.carrusel__img:hover{
    filter: sepia(80%);
    transition:all .7s ease-in-out;
}

/* .carrusel ul{
    display: flex;
    padding: 0;
    width: 400%;
}
.carrusel li{
    list-style: none;
    width: 100%;
}
.carrusel img{
    width: 200px;
    border-radius: 10px;
    box-shadow: 10px;
} */

.nuestrosProductos{
    grid-area: productos;
    background-color:#9b5377;
    color: aliceblue;
    font-family: "Lobster", sans-serif;
    border-radius: 3px;
    padding: 5px;
    font-style: italic;
    box-sizing: content-box;
    letter-spacing: 7px;
}
.left{
    grid-area: cake;
    padding: 10px;
}
.middle{
    grid-area: cupcake;
    padding: 10px;
}
.right{
    grid-area: cookies;
    padding: 10px;
}
.gps{
    grid-area: localizacion;
}
.centrar{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.estilo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mapa{
    border-color: #38bc46;
}
.estilo__titulo{
    font-family: "Acme", sans-serif;
    font-size: 27px;
    margin-top: .5rem;
    justify-items: center;
}
.estilo__parrafo{
    font-family: "Itim", sans-serif;
    font-size: 15px;
}
.main__icons{
    width: 50px;
    transform: rotate(-15deg);
    
}
.btn-style{
    background-color: #9b5377;
    border-color: #9b5377;
}
.btn-style:hover{
    background-color: #af6489;
    border-color: #af6489;
}

.title__sections{
    font-family: "Acme", sans-serif;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0;
    letter-spacing: 20px;
}


.parrafo__index{
    font-size: 20px;
    letter-spacing: 2px;
    /* padding-left: 30px;
    padding-right: 30px; */
    margin: auto;
    max-width: 800px;
}

.fotos__main{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-content: space-between;
}

.fotos__main__image{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border-style: outset;
    margin: 20px;
}


.parrafo__historia{
    font-size: 20px;
    letter-spacing: 10px;
    padding-left: 120px;
    padding-right: 120px;
}

.cliente{
    text-decoration: underline;
    font-size: 28px;
}

.parrafo__productos{
    font-size: 20px;
    letter-spacing: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
    
}

.productos__image{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border-style: outset;
    margin: 20px;
}


.galeria{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}


.galeria__img{
    width: 50%;
    height: 45%;
    max-width: 400px;
    opacity: 85%;
    border-radius: 15px;
    margin: 5px;
}
.galeria__img:hover{
    opacity: 100%;
}

.detalle__producto{
    list-style: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 130px;
    font-family: "Itim", sans-serif;
    font-size: 20px;
}

.sabores{
    font-family: "Itim", sans-serif;
    text-align: center;
    margin-top: 50px;
}

.sabores--titulo{
    background-color:#9b5377;
    color: aliceblue;
    font-family: "Lobster", sans-serif;
    border-radius: 3px;
    padding: 5px;
    font-style: italic;
    box-sizing: content-box;
    letter-spacing: 7px;
}

.tabla__sabores{
    font-size: 100%;
    margin: auto;
    border-style: solid;
    border-color: black;
    border-collapse: separate;
    border-spacing: 30px 20px;
    font-style: italic;
    background-color: #dab6c8;
    box-sizing: content-box;
}

.grid_clientes{
    display: grid;
    grid-template-areas: 
        " cl1 cl2 "
        " cl3 cl4 ";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 300px;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}
.cliente1{
    grid-area: cl1;
}
.cliente2{
    grid-area: cl2;
}
.cliente3{
    grid-area: cl3;
}
.cliente4{
    grid-area: cl4;
}

.redes__main{
    font-family: "Itim", sans-serif;
    display: grid;
    grid-template-areas:
        " follow fb ig "
        " follow yt tt ";
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 15px;
    margin-top: 50px;
    padding: 20px;
}

.seguinos{
    grid-area: follow;
    align-self: center;
    letter-spacing: 8px;

}
.facebook{
    grid-area: fb;
}
.instagram{
    grid-area: ig;
}
.youtube{
    grid-area: yt;
}
.tiktok{
    grid-area: tt;
}


.formulario{
    font-family: "Itim", sans-serif;
    width: 450px;
    margin: auto;
    border-radius: px;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 5px 15px 50px #000;
    

}

.form{
    padding: 5px;
    border: none;
    color: black;
}

.form_area{
    border-style: solid;
    border-color: #000;
    width: 90%;
    padding: 10px;
}

.button{
    font-family: "Acme", sans-serif;
    letter-spacing: 3px;
    background-color: #9b5377;
    color: white;
    margin-left: 170px;
}

.icons{
    width: 30%;
}

footer {
    font-family: "Itim", sans-serif;
    font-size: 10px;
    font-style: italic;
    color: white    ;
    text-align: center;
    background-color: #38bc46;
    padding: 7px;
    letter-spacing: 3px;
}

/* Seccion responsiva */

@media screen and (max-width: 480px) {
    
    .barra_busqueda{
        display: none;
    }
    
    input {
        width: 60%;
        
    }
    .main__silvi{
        text-align: center;
        background-image: url("source/img/slider3.png");
    }
    
    .grid__main{
        display: grid;
        grid-template-areas: 
            "productos"
            "cake"
            "cupcake"
            "cookies"
            "localizacion";
        grid-template-columns: 100%;
        grid-template-rows: 100px 1fr 1fr 1fr 1fr ;
        grid-row-gap: 30px;
        align-items: center;
        justify-items: center;
        text-align: center;
        margin-top: 60px;
    }
    
    .carrusel{
        display: none;
    }
    
    iframe{
        display: none;
    }

    .redes__main{
        display: grid;
        grid-template-areas:
            " follow follow follow follow "
            " fb ig yt tt ";
        grid-template-columns: repeat(4, 1fr) ;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 15px;
        margin-top: 50px;
        justify-self: center;
        text-align: center;
        padding: 20px;
        width: 100%;
        letter-spacing: 0;
    }
    .seguinos{
        letter-spacing: 0;
    }

    .tabla__sabores{
        font-size: 65%;
        margin: auto;
        
    }

    footer {
        display: flex;
        flex-direction: row;
        font-size: 7px;
        letter-spacing: 0;
        justify-content: space-between;
    }    

}
